<div class="container">
  <center><h1>Welcome to Java's Campground!</h1></center>
  <br />
</div>
<div class="container text-center">
  <div class="row">
    <%for(camp of camps){%>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="<%=camp.image%>" class="card-img-top" alt="Camp Image" />
        <div class="card-body">
          <h5 class="card-title"><%=camp.title%></h5>
          <p class="card-text"><%=camp.description%></p>
          <a href="#" class="btn btn-primary"> <%=camp.location%> </a>
          <%= camp%>
          <span>
            <%# Edit %>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%= camp.id %>" data-bs-whatever="@getbootstrap">Edit</button>
            <%- include('edit.ejs') %>

            <form method="POST" action="/func/delete">
              <button class="btn btn-primary"> Delete </button>
              <input type="hidden" name="camp" value="<%=camp.id%>">
            </form>
            <a href="/func/details/?id=<%=camp.id%>" class="btn btn-primary"> Details </a>
          </span>
        </div>
      </div>
    </div>
    <%}%>
    <script src="/js/modal.js"></script>
    <script src="/js/edit_camp_ajax.js"></script>
  </div>
</div>
